<html>
    <head>
        <title>Profile</title>
    </head>
    <body>
        <h1>welcome</h1>
        <p>
            In this page, we will have a short summary of the student with their information.
            <br><br><br>
            Sarah Smith
            <br><br>
            College: Seneca College
            <br>
            Program: CPP
            <br>
            GPA: 4.00
        </p>
        <!-- Home button linking back to root -->
        <p>
            <a href="/">Home</a>
        </p>
    </body>
</html>